
h1 {
    background-color: red;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    padding: 45px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
      display: flex; 
}

nav li a {
    color: white;
     background-color: red;
    text-decoration: none;
    text-align: center;
    display:inline-block;
    margin:0;
    padding: 49px;
    width: 100px;
    font-size:x-large;
}
a:hover {
  background-color: darkred;

}


#wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    background-color: #ffffff;
    display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1f 1fr 1fr;
    }

    header {
        grid-column: span 6;
      }
      nav {
        grid-column: span 6;
        padding-left: 0px;
        
      }   
      main {
        grid-column: span 12;
        font-family: Arial, Helvetica, sans-serif;
        text-align:center;
      }
      footer {
        position:fixed;
        bottom: 0;
        right: 0;
        background-color: red;
        color:white;
        padding: 10px;
        margin: 0px;
        grid-column: span 4;
      }
      .float {
        float:initial;
        padding: 10px;
        margin: 5px;
        width: 300px;
    }

    
    
    
        

        
   