
#specialid {
    background-color:darkslateblue;
    color: white
}
.purp {
    background-color: darkslateblue;
}
.blue {
    color:blue
}
.intext {
    color:orange
}





.redcolor {
    color:red;
}
.specialp {
    background-color: yellow;
}
.greentitle {
background-color: darkgreen;
color:yellow
}
.mint {
    background-color:lightgreen;
}
.yellow {
    background-color: yellow;
    color: red;
}
.yellowp {
    background-color: yellow;
}














a {
    color: green;
    text-decoration: none;
  }
  a:visited {
    color: green
  }

  a:hover {
    color:red;
    text-decoration: underline;
  }  
